<div id="<%= dom_id work_time %>">
  <p>
    <strong>Date:</strong>
    <%= work_time.date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= work_time.start_time %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= work_time.duration %>
  </p>

  <p>
    <strong>User:</strong>
    <%= work_time.user_id %>
  </p>

</div>
